.nav-container {
  display: flex;
  height: 55px;
  width: 100%;
  background-color: #E96479;
  justify-content: space-between;
}
.nav-actions {
  display: flex;
  align-items: center;
}
.nav-logo {
  display: flex;
  align-items: center;
  flex: 0.5;
  margin-left: 10rem;
  font-weight: bolder;
}
.myLogo-Link {
  text-decoration: none;
}
.myLogo {
  font-size: 20px;
  color: white;
  cursor: pointer;
}
.container-forLink{
  height: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 65px;
  margin-right: 0.25rem;
}